<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="../static/app.js" defer></script>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="shortcut icon" href="/static/favicon.svg" type="image/x-icon" />
    <title>feedbasket</title>
  </head>
  <body>
    <nav>
      {% include 'feed_find.html' %}
      <div class="menu"><a href="/">Home</a></div>
      <div class="menu"><a href="/subscriptions">Subscriptions</a></div>
      <div class="menu"><a href="/favourites">Favourites</a></div>
      <div class="menu"><a href="/">Settings</a></div>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
