<form
  action="/feeds/add"
  method="post"
  id="add-new-feed"
  style="display: grid; grid-gap: 0.5rem"
>
  <span class="favicon">
    {% if icon_url %}
    <img src="{{ icon_url }}" />
    {% else %}
    <img
      src="https://www.google.com/s2/favicons?domain={{ feed_url | display_feed_url }}&sz=32"
    />
    {% endif %}
    <p>{{ feed_url }}</p>
  </span>

  <!-- hidden feed meta passed to /feeds/add via the form -->
  <input type="hidden" name="feed_url" value="{{ feed_url }}" />
  <input type="hidden" name="feed_type" value="{{ feed_type }}" />

  <label for="feed_name">Feed</label>
  <input type="text" name="feed_name" value="{{ feed_name }}" />

  <!-- add new tag-->
  <label for="new_tag">Tags</label>
  <input type="text" name="new_tag" placeholder="+ New Tag" />

  <!-- checkboxes for existing tags-->
  {% for tag in tags %}
  <label>
    <input type="checkbox" name="existing_tags" value="{{ tag.tag_name }}" />
    {{ tag.tag_name }}
  </label>
  {% endfor %}
</form>
<p>Subscribe to the feed</p>
<button type="submit" form="add-new-feed">Add</button>
<button class="close-button">Cancel</button>
