<div id="feed-entry" class="entry">

  <h2>
    <a href="{{ entry.entry_url }}">{{ entry.entry_title }}</a>
  </h2>

  <p class="metadata">
    <span class="favicon">
      <img
        src="https://www.google.com/s2/favicons?domain={{ entry.entry_url | display_feed_url }}&sz=32"
        alt="Favicon"
      />
    </span>
    <span class="source-url">{{ entry.entry_url | display_feed_url }}</span>

    {% include "svg_meta_divider.html" %}

    <span class="date">{{ entry.published_date | display_pub_date}}</span>

    {% include "svg_meta_divider.html" %}

    {% if entry.author %}
      <span class="author">{{ entry.author}}</span>
      {% include "svg_meta_divider.html" %}
    {% endif %}

    <!-- <span class="favourite-button">
      {% if entry.is_favourite %}
      <button hx-delete="/favourites/{{ entry.entry_id }}" hx-swap="outerHTML">Remove from Favourites</button>
      {% else %}
      <button hx-post="/favourites/{{ entry.entry_id }}" hx-swap="outerHTML">Add to Favourites</button>
      {% endif %}
    </span> -->

    <span class="favourite-star">
      {% if entry.is_favourite %}
          {% include "svg_star_filled.html" %}
      {% else %}
          {% include "svg_star_empty.html" %}
      {% endif %}
    </span>
    

    <!--
    <p>
      summary:
      {% if entry.summary %}
        {{ entry.summary|truncate(500) }}
      {% endif %}
    </p>
    <p>
      content:
      {% if entry.content %}
        {{ entry.content|truncate(500) }}
      {% endif %} 
    </p>
   -->
<!--    
    <p>
      summary:
      {% if entry.summary %}
        {{ entry.summary }}
      {% endif %}
    </p>  -->
    <!-- <p>
      content:
      {% if entry.content %}
        {{ entry.content }}
      {% endif %} 
    </p> -->

  </p>
</div>
