<tr>
  <td class="favicon">
    {% if feed.icon_url %}
    <img src="{{ feed.icon_url }}" />
    {% else %}
    <img
      src="https://www.google.com/s2/favicons?domain={{ feed.feed_url | display_feed_url }}&sz=32"
    />
    {% endif %}
  </td>
  <td>{{ feed.feed_name }}</td>
  <td>
    {% if feed.tags %} {% for tag in feed.tags %}
    <span class="tag">{{ tag }}</span>
    {% endfor %} {% endif %}
  </td>
  <td>{{ feed.feed_url | display_feed_url }}</td>
  <td>{{ feed.last_updated | display_pub_date }}</td>
  <td>
    <button
      hx-get="/subscriptions/{{ feed.feed_id }}/edit"
      hx-push-url="true"
      hx-target="#main"
    >
      Edit
    </button>
  </td>
</tr>
