<div>
  <span class="favicon">
    {% if icon_url %}
    <img src="{{ feed.icon_url }}" />
    {% else %}
    <img
      src="https://www.google.com/s2/favicons?domain={{ feed.feed_url | display_feed_url }}&sz=32"
    />
    {% endif %}
  </span>

  <h1>{{ feed.feed_name }} {{ feed_id }}</h1>
  <h2>Stats</h2>
  <table>
    <tbody>
      <tr>
        <td>Subscribed</td>
        <td>{{ (feed.created_at | utc_to_local).strftime("%B %d, %Y") }}</td>
      </tr>
      <tr>
        <td>Latest Article</td>
        <td>
          {% if latest_entry_date %} {{ (latest_entry_date |
          utc_to_local).strftime("%B %d, %Y") }} {% else %} - {% endif %}
        </td>
      </tr>
      <tr>
        <td>Website</td>
        <td>
          <a href="{{ feed.feed_url | extract_main_url }}"
            >{{ feed.feed_url | extract_main_url }}</a
          >
        </td>
      </tr>
      <tr>
        <td>Source</td>
        <td>
          <a href="{{ feed.feed_url }}">{{ feed.feed_url }}</a>
        </td>
      </tr>
      <tr>
        <td>Tags</td>
        <td>
          {% if assigned_tags %} {% for tag in assigned_tags %}
          <span class="tag">{{ tag }}</span>
          {% endfor %} {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Options</h2>
<form
  hx-post="/subscriptions/{{ feed.feed_id }}/mute"
  hx-trigger="change"
  hx-swap="none"
>
  <input
    type="checkbox"
    name="mute-feed"
    value="{{ not feed.muted }}"
    id="mute-feed-{{ feed.feed_id }}"
    {%
    if
    feed.muted
    %}checked{%
    endif
    %}
  />
  {% if feed.muted %}
  <input type="hidden" name="mute-feed" value="{{ not feed.muted }}" />
  {% endif %}
  <label for="mute-feed-{{ feed.feed_id }}"> Mute on main feed </label>
</form>

<button id="edit-feed-button">Edit Feed</button>

<dialog id="edit-feed-modal">
  <form
    action="/subscriptions/{{ feed.feed_id }}/edit"
    method="post"
    id="edit-feed"
    style="display: grid; grid-gap: 0.5rem"
  >
    <label for="feed_name">Feed Name</label>
    <input
      id="feed_name"
      name="feed_name"
      value="{{ feed.feed_name }}"
      required
    />

    <!-- hidden feed meta passed to /feeds/add via the form -->
    <input type="hidden" name="feed_url" value="{{ feed_url }}" />
    <input type="hidden" name="feed_type" value="{{ feed_type }}" />

    <!-- add new tag-->
    <label for="new_tag">Tags</label>
    <input type="text" name="new_tag" placeholder="+ New Tag" />

    <!-- checkboxes for tags that are assigned to the feed-->
    {% if assigned_tags %} {% for tag in assigned_tags %}
    <label>
      <input type="checkbox" name="selected_tags" value="{{ tag }}" checked />
      {{ tag }}
    </label>
    {% endfor %} {% endif %}

    <!-- checkboxes for other available tags-->
    {% if available_tags %} {% for tag in available_tags %}
    <label>
      <input type="checkbox" name="selected_tags" value="{{ tag }}" />
      {{ tag }}
    </label>
    {% endfor %} {% endif %}
  </form>

  <button
    hx-delete="/subscriptions/{{ feed.feed_id }}"
    hx-confirm="Are you sure you wish to unsubscribe from {{ feed.feed_name }}?"
  >
    Unsubscribe
  </button>
  <button type="submit" form="edit-feed">Save</button>
  <button id="close-modal-button">Cancel</button>
</dialog>
