<button class="find-feed-button">Add Feed</button>

<dialog class="add-feed-modal" id="add-feed-modal">
  <form
    id = "find-feed-form"
    class="form"
    method="dialog"
    hx-post="/feeds/find"
    hx-target="#feed-form"
    hx-swap="innerHTML"
    hx-indicator="#indicator"
  >
    <div class="find-feed-group">
      <label for="url">+Add</label>
      <input
        id="url"
        name="url"
        placeholder="Feed or Website URL"
        required
      /u>
      <img id="indicator" class="htmx-indicator" src="../static/spinner.svg" />
    </div>
    <!-- <button type="submit" >Add feed</button> -->
  </form>
  <div id="feed-form"></div>
  <!-- <button class="button close-button">close modal</button> -->
</dialog>
