<button class="find-feed-button">Add Feed</button>

<dialog class="add-feed-modal" id="add-feed-modal">
    <form class="form" method="dialog" hx-post="/feeds/find" hx-target="#feed-form" hx-swap="innerHTML" hx-indicator="#indicator" >
        <div class="find-feed-group">
        <label for="url">+Add</label>
        <input id="url" name="url" placeholder="Feed or Website URL" required />
        <img id="indicator" class="htmx-indicator" src="../static/spinner.svg" />
    </div>
        <!-- <button type="submit" >Add feed</button> -->
    </form>
    <div id="feed-form"></div>
    <!-- <button class="button close-button">close modal</button> -->
  </dialog>

<script>

    const modal = document.getElementById("add-feed-modal");
    const openModal = document.querySelector(".find-feed-button");
    const closeModal = document.querySelector(".close-button");
    const feedForm = document.getElementById("feed-form");

    // return the modal to initial state upon closing.
    modal.addEventListener("close", () => {
        feedForm.innerHTML = "";
    });

    openModal.addEventListener("click", () => {
        modal.showModal();
    });

    // closeModal.addEventListener("click", () => {
    //     modal.close();
    // });

    modal.addEventListener("click", (event) => {
        if (event.target === modal) {
            modal.close();
        }
    });

</script>