<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <title>feedbasket</title>
</head>
<body>
    {% for entry in entries %}
    <p><a href="{{ entry.link }}">{{ entry.title }}</a> {{ entry.published_date | display_publication_date}} ({{ entry.link | display_feed_url }})</p>
    {% endfor %}
</body>
</html>
