<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="../static/style.css">
    <title>feedbasket</title>
  </head>
  <body>
    <form hx-post="/find-feed" hx-target="#feed-form" hx-swap="innerHTML">
      <label for="url">URL:</label>
      <input type="url" id="url" name="url" required/>
      <button type="submit">Find feed</button>
    </form>
    <div id="feed-form"></div>

    <h2>Feeds:</h2>
    {% for entry in entries %}

      {% include 'entry_item.html' %}

    {% endfor %}
    <script src="/static/modal.js"></script>
  </body>
</html>
